
<MudForm @ref="_ForgotPasswordForm" @bind-IsValid="@_ForgotPasswordFormIsValid" Class="position-relative">
    <MudOverlay @bind-Visible="_ForgotPAsswordFormIsLoading" LightBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </MudOverlay>
    
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">Forgot Password ?</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-500 fw-semibold fs-6">Enter your email to reset your password.</div>
        <!--end::Link-->
    </div>
    <MudGrid>
        <MudItem xs="12">
            <MudTextField Label="Email" @bind-Value="_Email" Immediate="true" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" RequiredError="Email is required!" OnlyValidateIfDirty="true" Clearable />
        </MudItem>

        <MudPaper xs="12" Class="d-flex justify-center flex-grow-1 gap-4" Elevation="0">
            <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Info" OnClick="SendForgotPassword" DisableElevation>Submit</MudButton>
            <MudButton Href="/Account/Login" Variant="Variant.Filled" Size="Size.Medium" DisableElevation>Cancel</MudButton>
        </MudPaper>
    </MudGrid>


    @if (!string.IsNullOrEmpty(_Message))
    {
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="mt-3">@_Message</MudAlert>
    }
</MudForm>
