<section>
	<div class="card mb-2 mb-xl-8">
		<div class="card-header" style="min-height: 70px;">
			<div class="card-title m-0">
				<MudText Class="fw-bold m-0">Profile Details</MudText>
			</div>
			<MudButton Href="#" Color="Color.Info" Size="Size.Medium" Variant="Variant.Filled" Style="height: 40px;">Edit Profile</MudButton>
		</div>
		<div class="card-body p-9">
			<div class="row mb-7">
				<div class="col-lg-4">
					<MudText Class="fw-semibold text-muted">Full Name</MudText>
				</div>
				<div class="col-lg-8">
					<MudText Class="fw-bold fs-6 text-gray-800">Max Smith</MudText>
				</div>
			</div>
			<div class="row mb-7">
				<div class="col-lg-4">
					<MudText Class="fw-semibold text-muted">Company</MudText>
				</div>
				<div class="col-lg-8">
					<MudText Class="fw-bold fs-6 text-gray-800">Keenthemes</MudText>
				</div>
			</div>
			<div class="row mb-7">
				<div class="col-lg-4">
					<MudText Class="fw-semibold text-muted">Contact Phone <MudIcon Icon="@Icons.Material.Filled.Info" aria-label="Info" Size="Size.Small" Class="fs-8 text-muted"></MudIcon></MudText>
				</div>
				<div class="col-lg-8">
					<MudText Class="fw-bold fs-6 text-gray-800">
						044 3276 454 935 <span class="badge badge-success">Verified</span>
					</MudText>					
				</div>
			</div>
			<div class="row mb-7">
				<div class="col-lg-4">
					<MudText Class="fw-semibold text-muted">Company Site</MudText>
				</div>
				<div class="col-lg-8">
					<MudText Class="fw-bold fs-6 text-gray-800">keenthemes.com</MudText>
				</div>
			</div>
			<div class="row mb-7">
				<div class="col-lg-4">
					<MudText Class="fw-semibold text-muted">Country <MudIcon Icon="@Icons.Material.Filled.Info" aria-label="Info" Size="Size.Small" Class="fs-8 text-muted"></MudIcon></MudText>
				</div>
				<div class="col-lg-8">
					<MudText Class="fw-bold fs-6 text-gray-800">Germany</MudText>
				</div>
			</div>
			<div class="row mb-7">
				<div class="col-lg-4">
					<MudText Class="fw-semibold text-muted">Communication</MudText>
				</div>
				<div class="col-lg-8">
					<MudText Class="fw-bold fs-6 text-gray-800">Email, Phone</MudText>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<MudText Class="fw-semibold text-muted">Allow Changes</MudText>
				</div>
				<div class="col-lg-8">
					<MudText Class="fw-bold fs-6 text-gray-800">Yes</MudText>
				</div>
			</div>			
		</div>
	</div>	
</section>