
<MudForm @ref="_ResetPasswordForm" @bind-IsValid="@_ResetPasswordFormIsValid" Class="position-relative">
    <MudOverlay @bind-Visible="_ResetPasswordFormIsLoading" LightBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </MudOverlay>
    
   <div class="text-center mb-10">
		<!--begin::Title-->
		<h1 class="text-dark fw-bolder mb-3">Setup New Password</h1>
		<!--end::Title-->
		<!--begin::Link-->
		<div class="text-gray-500 fw-semibold fs-6">
			Have you already reset the password ?
			<a href="/Account/Login" class="link-primary fw-bold">Sign in</a>
		</div>
		<!--end::Link-->
	</div>
    <MudGrid>
        <MudItem xs="12">
            @*<MudTextField Label="Password" @bind-Value="_Email" Immediate="true" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" RequiredError="Email is required!" OnlyValidateIfDirty="true" Clearable />*@
			<div class="fv-row mb-8" data-kt-password-meter="true">
				<!--begin::Wrapper-->
				<div class="mb-1">
					<!--begin::Input wrapper-->
					<div class="position-relative mb-3">
						<MudTextField Label="Password" @bind-Value="_Password" Immediate="true" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" InputType="InputType.Password" RequiredError="Password is required!" OnlyValidateIfDirty="true" OnKeyUp="PasswordValidation" />
						<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
							<i class="ki-duotone ki-eye-slash fs-2"></i>
							<i class="ki-duotone ki-eye fs-2 d-none"></i>
						</span>
					</div>
					<!--end::Input wrapper-->
					<!--begin::Meter-->
					<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
						@foreach (var items in _ValidationIndicator)
						{
							<div class="flex-grow-1 @items bg-active-success rounded h-5px me-2"></div>

						}
					</div>
					<!--end::Meter-->
				</div>
				<!--end::Wrapper-->
				<!--begin::Hint-->
				<div class="text-muted">
					@if (!string.IsNullOrEmpty(_Message))
					{
						<MudAlert Severity="Severity.Normal" Variant="Variant.Filled" Class="mt-3">@_Message</MudAlert>
					}
				</div>
				<!--end::Hint-->
			</div>

			<div class="fv-row mb-8">
				<MudTextField Label="Repeat Password" @bind-Value="_RepeatPassword" Immediate="true" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" InputType="InputType.Password" RequiredError="Password is required!" OnlyValidateIfDirty="true" OnKeyUp="RepeatPasswordValidation" />

			</div>
			<div class="text-muted">
				@if (!string.IsNullOrEmpty(_RepeatMessage))
				{
					<MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="mt-3">@_RepeatMessage</MudAlert>
				}
			</div>
        </MudItem>


		<MudItem xs="12">
			<MudButton Variant="Variant.Filled" FullWidth="true" Size="Size.Medium" Color="Color.Info" OnClick="ChangePassword">Change Password</MudButton>
		</MudItem>


        
    </MudGrid>
</MudForm>
