@{
    Layout = null;
}

<html lang="en">
<!--<![endif]--><!-- BEGIN HEAD -->
<head>
    <title>EPartner - @ViewData["Title"]</title>

    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Custom.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!--end::Global Stylesheets Bundle-->

</head>
<!-- END HEAD -->

<body>
    <div class="row">
        <div class="col-md-12  text-center">
            <div class="number font-red h1"> 500 </div>
            <div class="details">
                <h3>Oops! Something Went Wrong!.</h3>
                <p>
                    Error Detail :
                    <br/>
                    @ViewBag.ErrorDetail
                    <br/>
                    <a href="/" class="btn btn-danger"> Return home </a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>